body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.hero {
    background-image: url('images/hero_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #da2c2c;
    text-align: center;
}

.hero-text h2 {
    font-size: 50px;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
}

.btn {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #e5533d;
}

section {
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.menu-item, .gallery-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-item img, .gallery-item img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-text h3 {
    margin: 0;
}

.gallery-item {
    width: 48%;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.about-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-card img {
    width: 650px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.about-info p {
    margin: 0 0 10px;
}

.contact-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-card img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.contact-info p {
    margin: 0 0 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
